@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    max-height: 100%;
}

#login-page{
    background: rgb(19,19,153);
    background: -moz-linear-gradient(142deg, rgba(19,19,153,1) 8%, rgba(36,29,179,1) 31%, rgba(90,217,255,1) 84%);
    background: -webkit-linear-gradient(142deg, rgba(19,19,153,1) 8%, rgba(36,29,179,1) 31%, rgba(90,217,255,1) 84%);
    background: linear-gradient(142deg, rgba(19,19,153,1) 8%, rgba(36,29,179,1) 31%, rgba(90,217,255,1) 84%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131399",endColorstr="#5ad9ff",GradientType=1);
}

#login-container{
    width: 40em;
    height: 30em;
    padding: 1.5em;

    background: rgba(255, 255, 255, 0.175);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.33);
}

.seat {
    background-color: #444451;
    height: 19px;
    width: 21px;
    margin: 2px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seat:hover {
    cursor: pointer;
}

.seat.selected {
    background-color: #6feaf6;
}

.seat.occupied {
    background-color: #fff;
}

.seat.reserved{
    background-color: #ffb923;
}

.seat.selected-example {
    background-color: #6feaf6;
}

.seat.occupied-example {
    background-color: #fff;
}

.seat.reserved-example{
    background-color: #ffb923;
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 75%;
    transform: rotateX(-45deg);
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}

.aud-row{
    background-color: #ffffffb7;
    height: 19px;
    width: 21px;
    margin: 2px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}